* {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #23a455;
}

a {
    text-decoration: none;
}

nav a:hover {
    color: #69ce91;
}

body {
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#logo-clinica {
    height: 110px;
    display: inline-block;
    padding-left: 50px;
}

.nav-bar a {
    margin-right: 12px;
    color: #23a455;
}

#local-e-funcionamento {
    background-image: linear-gradient(to right, rgba(35,164,85, 0), rgba(35,164,85, 1)),
    url("./images/clinica-Paulillo-768x525.jpg");
    background-color: rgba(35,164,85, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.lf-container {
    font-weight: normal;
    text-align: right;
    height: 300px;
    margin-right: 80px;
    margin-top: 200px;
}

.local-clinica a h3:hover {
    cursor: pointer;
    color: #69ce91;
}

.local-clinica h2,
.local-clinica h3,
.funcionamento-clinica h2,
.funcionamento-clinica h3{
    color: #fff;
}

.funcionamento-clinica span {
    font-weight: bolder;
}

.local-clinica h3,
.funcionamento-clinica h3 {
    font-weight: normal;
}

.funcionamento-clinica {
    margin-top: 50px;
}

.location-icon {
    background-color: #69ce91;
}

#agendamento {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding-bottom: 30px
}
.agendamento-consulta {
    margin-bottom: 10px;
}

.agendamento-consulta input,
.agendamento-consulta textarea,
.agendamento-consulta button,
.agendamento-consulta h2 {
    display: block;
    margin-bottom: 10px;
    height: 60px;
    width: 700px;
    resize: none;
    padding: 0;
}

.agendamento-consulta h2 {
    display: block;
    text-align: left;
    align-items: center;
}

.agendamento-consulta input:focus,
.agendamento-consulta textarea:focus {
    outline-color: #69ce91;
}

.input-label {
    display: block;
    color: #23a455;
    margin-bottom: 10px;
    font-size: 18px;
}

.agendamento-consulta button{
    color: #fff;
    font-size: 16px;
    border-radius: 2.5px;
    border: none;
    background-color: #23a455;
    cursor: pointer;
}

.agendamento-consulta button:hover {
    background-color: #69ce91;
}

#medicos {
    background-color: #23a455;
    padding-top: 30px;
    padding-bottom:50px;
    width: 100%;
}

#medicos>h2 {
    color: #fff;
    text-align: center;
}

#nossos-medicos {
    display: flex;
    align-items: center;;
    justify-content: space-between;
}

.foto-medico img {
    border-radius: 40px;
    height: 250px;
    margin-left: 50px;
}

.nome-e-especialidade h2,
.nome-e-especialidade h3,
.medico-descricao {
    color: #fff;
    margin-right: 50px;
    margin-left: 85px;
    text-align: left;
}

#convenios {
    padding-top: 50px;
    padding-bottom: 50px;
}

#convenios h2 {
    text-align: center;
}

.imagens-convenios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imagens-convenios img {
    height: 70px;
    margin-right: 30px;
}

footer {
    background-color: #23a455;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
    width: auto;
}

#contact-methods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 20px 10%;
}

#contact-methods h3,
#contact-methods h4,
.contact-telephone a,
.contact-email a,
.copyright h4 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

.contact-telephone a:hover,
.contact-email a:hover {
    color: #69ce91;
}

.redes-sociais {
    padding-top: 10px;
}

.redes-sociais ul li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin-left: 15%;
}

.redes-sociais svg:hover{
    fill: #69ce91;
}

.copyright {
    text-align: center;
    margin: 0;
    padding: 0;
}